---
    const navegacionFooter = [
        {
            title: 'NOSOTROS',
            lista: [
                {
                    clase: '/17',
                    label:'Quiero Ser Agente'
                }
            ]
        }
    ] 
---

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-10 row">
            <div class="col-lg-3">
                <div class="title">NOSOTROS</div>
                <ul>
                    <li><a href="">Quiero Ser Agente</a></li>
                    <li><a href="">Liberty Fianzas</a></li>
                    <li><a href="">Liberty Mutual Group</a></li>
                    <li><a href="">Quiero Ser Agente</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>